.page{padding:10px;}
.page table{min-width:auto!important;}
.page th{text-align:center!important;}
.page td{padding:0!important;}
.page tr td:first-child{text-align:center;font-weight:bold;background-color:#fafafa;}

.cell{position:relative;padding:10px;border:2px solid transparent;}
.cell i{display:none;position:absolute;right:0;bottom:0;width:16px;height:16px;line-height:16px;text-align:center;font-weight:bold;color:#fff;cursor:pointer;border-radius:50%;background-color:#f63;box-shadow: 0 0 3px rgba(0,0,0,.1);}
.cell:hover{border-color:#1fc75f;}
.cell:hover i{display:block;}

.cell .word{min-height:25px;line-height:25px;}
.cell input{height:25px;width:75px;}

.prod table{border-collapse: collapse;border:1px solid #eee;}
.prod td{border:1px solid #eee;padding:10px!important;}
.prod tr td:first-child{background-color:transparent;font-weight:normal;}
.prod td p{color:#999;font-size:0.9em;font-style: italic;}